header {
    padding: 50px;
    background-color:#aca6ad ;
    background-image: url(../img/VincentHealy_Profile_2021_small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color:green;
    
    h2 { 
        color:green;
        font-size: 1.2rem;
    }

    form { 
        margin-top: 50px;
        max-width: 400px;
    }
}

.card {
    margin: 25px 0;
}

.loading-element {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: none;
    &.loading {
        display: block;
    }
}
    